:root{
    --header-color: #9b8cbf;
    --title-color:#ffffff;
}

*{
    background-color: #665c70;
}

main{
    margin-top: 100px;
    width: 80%;
    margin-left: 10%;
}

h2{
    color:var(--title-color);
    font-family: 'Alice', serif;
    margin: 10px 0px 20px 10px;
}
h3{
    color:#0e1e53;
    font-family: 'Alice', serif;
    margin: 10px 0px 20px 10px;
}

a { 
    text-decoration: none;
}
    
abbr:hover, a:hover{ color:#d9a7e1 }


section a { 
    font-family: 'Alice', serif; 
    color:#000000;
}

article img {
    box-shadow: 3px 3px 5px 2px rgba(11, 11, 11, 0.56);
    border: 2px inset#000000;
    border-radius: 10px;
}

section img{
    margin: 1rem 0px;
}

section {
    width: 100%;
    align-self: center;
    padding: 1rem;
    border-radius: 10px;
    border: 20px;
    margin-bottom: 1rem;
}


section, section *{
    background: #ddd2f0;
    box-sizing: border-box;
}

.img1, .img3, .img5, .img7, .img9, .img11{
    float: left;
    margin-right: 10px;
}
.img2, .img4, .img6, .img8, .img10{
    float: right;
    margin-left: 10px;
}

article{
    display: block;
}



.container-first_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5% 0;
}
.container-first_cards .box{
    background-color: transparent;
    position:relative;
    width: 20%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4%;
    transition: 0.5s;
}

.container-first_cards .box::before{
    content:"";
    position: absolute;
    top: 0;
    left: 30%;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}
.container-first_cards .box::after{
    content:"";
    position: absolute;
    top: 0;
    left: 30%;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
}
.container-first_cards .box:hover::before,
.container-first_cards .box:hover::after{
    transform: skewX(0deg);
    left: 17%;
}
.container-first_cards .box:nth-child(1)::before,
.container-first_cards .box:nth-child(1)::after{
    background: linear-gradient(315deg, #ffbc00, #ff0058) ;
}
.container-first_cards .box:nth-child(2)::before,
.container-first_cards .box:nth-child(2)::after{
    background: linear-gradient(315deg, #03a9f4, #ff0058) ;
}
.container-first_cards .box:nth-child(3)::before,
.container-first_cards .box:nth-child(3)::after{
    background: linear-gradient(315deg, #4dff03, #00d0ff) ;
}
.container-first_cards .box span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: transparent;
}
.container-first_cards .box span::before{
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    top: -10%;
    left: 15%;
    border-radius: 10%;
    background: rgba(255, 255, 255, 0.056);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition:0.5s;
    animation: animate-span_before 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.56);
}
.container-first_cards .box:hover span::before{
    content: '';
    width: 20%;
    height: 20%;
    opacity:1;
}
.container-first_cards .box span::after{
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    bottom:-10%;
    right: 30%;
    border-radius: 10%;
    background: rgba(255, 255, 255, 0.056);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition:0.5s;
    animation: animate-span_after 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.56);
}
.container-first_cards .box:hover span::after{
    content: '';
    width: 20%;
    height: 20%;
    opacity:1;
}
@keyframes animate-span_before {
    0%{
        transform: translateY(50%);
    }
    50%{
        transform: translateY(-20%);
    }
    100%{
        transform: translateY(50%);
    }
}
@keyframes animate-span_after {
    0%{
        transform: translateY(-50%);
    }
    50%{
        transform: translateY(20%);
    }
    100%{
        transform: translateY(-50%);
    }
}

.container-first_cards .box .content{
    z-index: 1;
    position:relative;
    left:0;
    padding: 10% 10%;
    background: #ffffff13;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.56);
    border-radius: 5%;
    backdrop-filter: blur(10px);
    transition:0.5s;
    color:var(--title-color);
}
.container-first_cards .box:hover .content{
    left: -8%;
    padding: 20% 15%;
}

.container-first_cards .box .content h3{
    color:var(--title-color);
    margin-top: 0;
    margin-left:0;
    margin-bottom: .5 rem;
    font-size: 1.2 rem;
    background-color: transparent;
}
.container-first_cards .box .content p{
    font-size: 1 rem;
    background-color: transparent;
}

/*//////////////////////////////////////////////////*/


@media screen and (min-width: 1600px){
    .container-first_cards h3, .Ratatouille h3, .Zootopia h3, .WALL-E h3 {
        font-size: 1.9rem;
    }
    .Ratatouille h2, .Zootopia h2, .WALL-E h2{
        font-size: 2.2rem;
    }
    .container-first_cards p, .Ratatouille dd, .Zootopia dd, .WALL-E dd {
        font-size: 1.6rem;
    }

    .img1, .img5{
        height: 230px;
    }
    .img3{
        height: 260px;
    }
    .img2, .img4{
        height: 350px;
    }
    .img6{
        height: 250px;
    }
    .img7{
        height: 220px;
    }
    .img8{
        height: 290px;
    }
    .img9{
        width: 320px;
    }
    .img10{
        height: 300px;
    }
    .img11{
        height: 300px;
    }
}
@media screen and (max-width: 600px){
    .container-first_cards{
        display: none;
    }
    .img1{
        height: 150px;
    }
    .img2{
        height: 280px;
    }
    .img3{
        height: 150px;
    }
    .img4{
        height: 230px;
    }
    .img5{
        height: 140px;
    }
    .img6{
        height: 130px;
    }
    .img7{
        height: 210px;
    }
    .img8{
        height: 270px;
    }
    .img9{
        width: 200px;
    }
    .img10{
        height: 150px;
    }
    dd{
        margin: 0px;
    }
    
}
